body,
html {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  height: 99vh;
  background-color: green;
  overflow: none;
}

#container {
  height: 100%;
  /*align-items: center;*/
}

#canvas {
  width: 100%;
  object-fit: contain;
  /* max-width: min(95vw, 95vh); */
  /* max-height: min(95vw, 95vh); */
}

#controls {
  width: 100%;
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: space-around;
}

#dpad {
  --button-size: 4rem;
  display: grid;
  grid: var(--button-size) var(--button-size) var(--button-size) / var(--button-size) var(--button-size) var(--button-size);
}

button {
  background: black;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  border-radius: 0.1em;
}

#dpad button {
  width: var(--button-size);
  height: var(--button-size);
}

button#left {
  grid-row-start: 2;
  grid-column-start: 1;
}

button#up {
  grid-row-start: 1;
  grid-column-start: 2;
}

button#down {
  grid-row-start: 3;
  grid-column-start: 2;
}

button#right {
  grid-row-start: 2;
  grid-column-start: 3;
}

@media (orientation: landscape) {
  #canvas {
    height: 100%;
  }

  #controls {
    display: none;
  }
}

#gameover {
  position: absolute;
  display: flex;
  top: 0;
  color: white;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
}